* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}

body {
    background-image: url(imagem/adventure-5077760_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}


.logo {
    font-size: 24px;
}



.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.nav-links li {
    padding: 0 15px;
}

.nav-links a,
.nav-links-mobile a {
    color: white;
    text-decoration: 0.3s;
}

.nav-links a:hover {
    color: green;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 0%;
    list-style: none;
    padding: 0;
}

.nav-links-mobile li {
    border-bottom: 1px solid #787272;
    padding-bottom: 1.2rem;
}




.hamburger,
.close {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}


.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}


.flex {
    display: flex;
}

@media(max-width: 768px) {

    html {
        font-size: 12px;
    }


    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }
}